@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Bem-vindo(a) ao Gestão Proff</h1>
    <p>Explore o sistema de gestão de alunos.</p>

    <a asp-action="Aluno" asp-controller="Home" class="btn btn-primary">Alunos</a>
    <a asp-action="Professor" asp-controller="Home" class="btn btn-primary">Professores</a>
    <a asp-action="Disciplina" asp-controller="Home" class="btn btn-primary">Disciplinas</a>
    <a asp-action="Curso" asp-controller="Home" class="btn btn-primary">Cursos</a>
    <a asp-action="Avaliacao" asp-controller="Home" class="btn btn-primary">Avaliações</a>
    <a asp-action="Certificado" asp-controller="Home" class="btn btn-primary">Certificados</a>
    <a asp-action="Mensalidade" asp-controller="Home" class="btn btn-primary">Mensalidades</a>
    <a asp-action="Presenca" asp-controller="Home" class="btn btn-primary">Presença</a>
    <a asp-action="Turma" asp-controller="Home" class="btn btn-primary">Turma</a>
</div>
